extends ./layout.pug

block content
	div(class='col-md-8 remove-float center-block text-center big-top-space')
		h1 Hello, welcome to Easy Photo
		a.right-space(href='/login') Login
		a(href='/register') Register
