extends ./layout.pug

block content
    div(class='col-md-2 remove-float center-block big-top-space')
        form(action='/session', method='POST')
            div.form-group
                label(for='username') Username
                input.form-control(id='username', type='text', name='username', placeholder='Username')
            div.form-group
                label(for='password') Password
                input.form-control(id='password', type='password', name='password', placeholder='Password')
            div.row.top-space
                div(class='col-xs-12 col-sm-6')
                    input.btn.btn-info(type='submit', value='Login')
                div(class='col-xs-12 col-sm-6 text-right')
                    a(href='/register') I don't have account
